# For default exclusions, see: https://docs.npmjs.com/misc/developers
/.idea/
/.vscode/

# Local-only files
/local/

# Temporary files
/tmp/

# Other non-production files
/src/
/tests/

.editorconfig
.eslintrc.js
.gitignore
.prettierrc.js
babel.config.js
tsconfig.generate-typings.json
tsconfig.json
